$primary: #F1CDB3;
$color-dark-3xl: #292929;
$color-dark-s: #CDCDCD;
$color-light-s:#FAFAFA;
$color-dark-i:#545454;
$color-dark-xl:#4C4C4C;
$color-light-xi:#F6F6F6;
$color-dark-m:#B2B2B2;

%h5 {
    font-size: 15;
    line-height: 110%;
}

body {
    margin: 0;
}

footer {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;

    font-size: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: OpenSans-Regular, sans-serif;
}


.header {
    color: blueviolet;
}

.backgroundIMG {
    width: 100%;
    padding: 0;
    margin: 0;

}